config INSPACE_TRACKER
        tristate "Antenna Tracker"
        default y
        ---help---
                Enable the Antenna Tracking app

config INSPACE_TRACKER_PROGNAME
        string "Program name"
        default "tracker"
        depends on INSPACE_TRACKER
        ---help---
                This is the name of the program that will be used when the NSH ELF
                program is installed.

config INSPACE_TRACKER_PRIORITY
        int "Antenna tracker task priority"
        default 100
        depends on INSPACE_TRACKER

config INSPACE_TRACKER_STACKSIZE
        int "Antenna tracker stack size"
        default DEFAULT_TASK_STACKSIZE
        depends on INSPACE_TRACKER

config INSPACE_TRACKER_TELEMETRY_CALLSIGN
        string "Telemetry callsign"
        default "VA3ZZA"
        depends on INSPACE_TRACKER


config INSPACE_TRACKER_SYSLOG_INFO
        bool "Enable syslog info output"
        default y
        depends on INSPACE_TRACKER

config INSPACE_TRACKER_SYSLOG_DEBUG
        bool "Enable syslog debug output"
        default n
        depends on INSPACE_TRACKER

config INSPACE_TRACKER_SYSLOG_ERR
        bool "Enable syslog error output"
        default y
        depends on INSPACE_TRACKER

config INSPACE_TRACKER_SYSLOG_WARN
        bool "Enable syslog warning output"
        default y
        depends on INSPACE_TRACKER

config INSPACE_TRACKER_RADIO_MOCKING
        bool "Enable mocking"
        default n
        depends on INSPACE_TRACKER